<!DOCTYPE html>
<html lang="en">

<head>
  <!--====== Required meta tags ======-->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="{{ site.meta-description }}" />
  <meta name="keywords" content="{{ site.meta-keywords }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

  <!--====== Title ======-->
  <title>{{ page.title }}</title>

  <!--====== Favicon Icon ======-->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">

  <!--====== Bootstrap CSS ======-->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <!--====== CSS Overrides for Security Differently Design ======-->
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>

  <!--====== NAVBAR START ======-->

  <section class="navbar-area navbar-nine">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/security-differently-logo.svg" alt="Security Differently" class="logo" />
            </a>
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== NAVBAR ENDS ======-->


  <!--====== HERO START ======-->
  <section id="hero" class="hero-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="hero-content">
            <h1>{{ page.hero-title }}</h1>
            <div class="button">
              <a href="#contact" class="btn primary-btn-outline">{{ page.hero-btn }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====== HERO END ======-->

  <!--====== INTRO START ======-->

  <section class="intro-area">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="assets/images/about/about-img1.png" alt="visual of a man on a laptop" />
        </div>
        <div class="col-9">
          <div class="intro-content">
            <h2>{{ page.intro-title }}</h2>
            {{ page.intro-content }}
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </section>

  <!--====== INTRO ENDS ======-->

  <!-- ===== CORE PRINCIPLES START ===== -->
  <section id="principles" class="principles-area principles-eight">
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2 class="fw-bold">{{ page.core-principle-title }}</h2>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-4">
          <div class="single-principle">
            <div class="principle-content">
              {{ page.core-principle-one }}
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="single-principle">
            <div class="principle-content">
              <center><img src="assets/images/logomark.svg" alt="Logomark" /></center>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-4">
          <div class="single-principle">
            <div class="principle-content">
              {{ page.core-principle-two }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 principle-summary">
          {{ page.core-principle-summary }}
        </div>
      </div>
      <div class="compare-table">
        <div class="row">
          <div class="col-6 table-header">
            {{ page.compare-hdr-one }}
          </div>
          <div class="col-6 table-header sd">
            {{ page.compare-hdr-two }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row1-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row1-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row2-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row2-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row3-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row3-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row4-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row4-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row5-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row5-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row6-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row6-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row7-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row7-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row8-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row8-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row9-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row9-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row10-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row10-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row11-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row11-col2 }}
          </div>
        </div>
        <div class="row alt">
          <div class="col-6 table-content">
            {{ page.compare-row12-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row12-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-6 table-content">
            {{ page.compare-row13-col1 }}
          </div>
          <div class="col-6 table-content sd">
            {{ page.compare-row13-col2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-12 table-caption">{{ page.compare-caption }}</div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== CORE PRINCIPLES END ===== -->

  

  <!-- ===== CTA END ===== -->
  <section id="call-action" class="call-action">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
          <div class="inner-content">
            <h2>{{ page.cta-title }}</h2>
            {{ page.cta-content }}
            <div class="light-rounded-buttons">
              <a href="{{ page.cta-btn-url }}" target="_blank" class="btn primary-btn-outline">{{ page.cta-btn-label }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== CTA END ===== -->

  <!-- ===== SERVICES START ===== -->

  <section id="services" class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <h2>{{ page.services-title }}</h2>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 services-content">
          <!-- start service item -->
          <div class="row service-item">
            <div>
              <img src="assets/images/services/assessments.svg" alt="Assessments Icon" />
              {{ page.service-one }}
            </div>
          </div>
          <!-- end service item -->
          <!-- start service item -->
          <div class="row service-item">
            <div>
              <img class="alt" src="assets/images/services/audit-assessments.svg" alt="Audit Assessment Icon" />
              {{ page.service-two }}
            </div>
          </div>
          <!-- end service item -->
          <!-- start service item -->
          <div class="row service-item">
            <div>
              <img src="assets/images/services/risk-qualification.svg" alt="Risk Qualification" />
              {{ page.service-three }}
            </div>
          </div>
          <!-- end service item -->
          <!-- start service item -->
          <div class="row service-item">
            <div>
              <img class="alt" src="assets/images/services/consulting.svg" alt="Consulting" />    
              {{ page.service-four }}
            </div>
          </div>
          <!-- end service item -->

        </div>
      </div>
    </div>
  </section>
  <!-- ===== SERVICES END ===== -->

  <!-- ===== RESOURCES START ===== -->
  <section id="resources" class="resources">
    <div class="container">
      <div class="row">
        <h2>{{ page.resources-title }}</h2>
      </div>
      <div class="row">
        <div class="col-12"> 
          <div class="resource-list">
            <h4>{{ page.resource-type-one }}</h4>
            {{ page.resource-one-content }}
            <h4>{{ page.resource-type-two }}</h4>
            {{ page.resource-two-content }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== RESOURCES END ===== -->

  <!-- ===== FOOTER START ===== -->
  <footer id="contact" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="inner-content">
          <div class="row">
            <div class="col-4">
              <img class="alt" src="assets/images/footer/john-bio.png" alt="Photo of John Benninghoff" />  
            </div>
            <div class="col-8">
              <h2>{{ page.contact-title }}</h2>

              {{ page.contact-content }}

              <p><a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
                <a href="tel:{{site.phone }}">{{ site.phone-formatted }}</a>
              </p>

              <p><a href="{{ site.social-linkedin }}" target="_blank"><img class="alt" src="assets/images/footer/linkedin.svg" alt="LinkedIn Icon" /></a></p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright">
    &copy; {{ site.current-year }} {{ site.copyright }}
    
    <div style="margin-top: 16px;font-family:sans-serif; text-transform:lowercase; font-size:10px; color:#444;text-align:center;padding-bottom:24px;"><a style="text-decoration:none; color: #444;" href="http://souldanse.com" target="_blank">s o u l d a n s e<span style="color: #999"> d e s i g n</span></a></div>
  </div>
  <!-- ===== RESOURCES START ===== -->



  <a href="#" class="scroll-top btn-hover">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 448 512"><path fill="#575757" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg>
    </i>
  </a>

</body>

</html>